{% extends '../base.html' %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'UpdateService' service.id %}">
    {% csrf_token %}

    <label for="chef_medecin">Chef Medecin:</label>
    <select name="chef_medecin" id="chef_medecin">
        <option value="">Select a Medecin</option>
        {% for medecin in medecins %}
            <option value="{{ medecin.id }}" {% if medecin.id == service.chef_id %}selected{% endif %}>
                {{ medecin.nom }} {{ medecin.prenom }}
            </option>
        {% endfor %}
        <option value="" {% if service.chef_id is None %}selected{% endif %}>None</option>
    </select>

    <!-- Add any additional fields from your Service model -->

    <button type="submit">Update Service</button>
</form>


{% if errors %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

