{% extends '../base.html' %}
{% load static %}

{% block content %}
        patient: <a href="{% url 'OnePatient' rendezvous.patient.id %}">{{rendezvous.patient}}</a><br>
        medecin: <a href="{% url 'OneMedecin' rendezvous.medecin.id %}">{{rendezvous.medecin}}</a><br>
        salle: {{rendezvous.salle}}<br>
        date: {{rendezvous.date}}<br>
        heure: {{rendezvous.heure}}<br>
        status: {{rendezvous.status}}<br>
        {% if user.is_staff or user.medecin == rendezvous.medecin %}
        <a href="{% url 'UpdatePatient' rendezvous.id %}">modifier status</a><br>
        {% endif %}
{% endblock %}